.tab-card {
    display: none;
    margin-left: 15px;
}

.covid-for-tab {
    display: none;
}

@media only screen and (max-width: 1194px) {
    .tab-device-todo-card {
        display: flex;
    }

    .tab-card {
        display: block;
    }

    .covid-for-tab {
        display: block;
    }

    .todo-width-md-device {
        width: 45%;
    }

    .ap-card-width-md-device {
        width: 45%;
    }

    .width-card-md {
        width: 100% !important;
        overflow: hidden;
    }

    .covid-md-width {
        width: 92%;
    }
}